.gallery {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
}
.photo-card {
    border: 2px solid rgb(60, 102, 137);
    overflow: hidden;
    border-radius: 15px;
}
.search-form {
    background-color: rgb(41, 60, 112);
    padding: 5px;
    padding: 5px;
    height: 50px;
box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(85, 110, 240);

}
input {
width: 250px;
border: none;
}
button {
    border: none;
}
